CENTER {
  padding-top: 70px;
}

table {
  position: relative;
  padding: 5;
}

.center {
  text-align: center;

}

input[name=display]{
  position: relative;
  height: 25px;
  text-align: right;
}

input[type=button] {
  position: relative;
  margin-top: 20px;
}